.form-control:focus{
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 14px rgba(233,0,0, .9) !important;
}
body{
    font-size: 14px;
    line-height: 22px;
    color: #666;
    border-top: 3px solid #eee;
    background: #000 url(../img/back.png) repeat;
    -webkit-font-smoothing: antialiased;
}

.main-top-nav{
    border-radius:0px;
}
.main-top-nav .web-top{
    display: flex;
    padding: 0px 10px;
}

.main-top-nav .web-top-left{
    margin-left: 20px;
}

.main-top-nav .web-top-center{
    display: flex;
    flex: 1;
    margin: 0px 50px;
    font-size: 16px;
    font-weight: bolder;
}

/*@media (max-width: 992px) {*/

    /*.main-top-nav .web-top-center{*/
        /*font-size: 15px;*/
    /*}*/
    /*.main-top-nav .web-top-center .menu-item i,.main-top-nav .web-top-center .menu-item2 i{*/
        /*display: none;*/
    /*}*/

/*}*/
.main-top-nav .web-top-center .menu-item{
    padding: 22px 15px 0px 15px;
    cursor: pointer;
    border-bottom: 1px solid #f8f8f8;
    height: 50px;
}
.main-top-nav .web-top-center .menu-item2{
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
    border-bottom: 1px solid #f8f8f8;
}
.main-top-nav .web-top-center .dropdown-menu{
    padding: 0px;
}

.main-top-nav .web-top-center .menu-item i,.main-top-nav .web-top-center .menu-item2 i{
    padding-right: 5px;
    font-size: 18px;
}
.main-top-nav .web-top-center .menu-item b{
    margin-left: 5px;
    margin-right: 5px;
}

.main-top-nav .web-top-right .dropdown>a>span{
    margin-right: 5px;
}

.list-group-item-click2{
    background-color: #337ab7;
    background: -webkit-gradient(linear, left top, left bottom, from(#1AB8FF), to(#337ab7));
    background: -webkit-linear-gradient(top, #1AB8FF, #337ab7);
    background: -moz-linear-gradient(top, #1AB8FF, #337ab7);
    background: -ms-linear-gradient(top, #1AB8FF, #337ab7);
    background: -o-linear-gradient(top, #1AB8FF, #337ab7);
    background: linear-gradient(top, #1AB8FF, #337ab7);
    box-shadow: none;
    color: #fff !important;
    font-weight: bold;
    border-bottom: 1px solid #999 !important;
}
.list-group-item-click,.main-top-nav .web-top-center .menu-item:hover,.main-top-nav .web-top-center .menu-item2:hover{
    background-color: #ddd;
    border-bottom: 1px solid #999 !important;
}


.main-center-div{
    padding: 47px 10px 20px 10px;
    overflow-x: hidden;
    position: relative;
    height: 100%;
}
.main-center{
    padding-top: 15px;
    height: 100%;
}
.main-center-nav{
    position: fixed;
    left: 10px;
    z-index: 1;
    right: 10px;
}
.main-center-nav .need-nav{
    margin-bottom: 0px;!important;
}

.main-center{
    overflow-x: hidden;
}
.my-col{
    display: flex;
    margin-bottom: 10px;
    font-size: 15px;
    position: relative;
    font-weight: bolder;
}
.my-col .my-left-div{
    width: 100px;
    padding: 5px 10px;
    background-color: #337ab7;
    border: 1px solid #2e6da4;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    color: #fff;
    text-align: right;
    border-right: none;
}
.my-col .my-left-div2{
    width: 100px;
    padding: 5px 10px;
    background-color: #f0ad4e;
    border: 1px solid #eea236;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    color: #fff;
    text-align: right;
    border-right: none;
}
.my-col .my-right-div{
    flex: 1;
    background-color: #efefef;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 5px 30px 5px 10px;
    border: 1px solid #ccc;
    border-left: none;
}
.my-col .my-right-div2{
    flex: 1;
    background-color: #fff;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 0px;
    border: 1px solid #ccc;
    border-left: none;
}
.my-col .my-right-div2>input,.my-col .my-right-div2>select{
    background-color: #fff;
    border:none;
}
.my-col .money-unit{
    position: absolute;
    right: 20px;
    top: 7px;
}
table{
    font-weight: bolder;
}
button>i{
    margin-right: 5px;
}
.form-control{
    height: 32px;
    padding: 5px 10px;
}